.clientMain {
  width: 100%;
  height: 100vh;
  //   background-color: aquamarine;
  overflow: auto;
  scroll-snap-type: y mandatory; // 스크롤을 내릴 때 특정 위치에서 자동으로 멈춤.

  /* 스크롤바 숨기기 (크롬, 엣지, 사파리) */
  &::-webkit-scrollbar {
    display: none;
  }
  /* 스크롤바 숨기기 (파이어폭스) */
  scrollbar-width: none;

  .contentWrap {
    display: flex;
    flex-direction: column;
    gap: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    .content {
      border: 1px solid black;
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
      background-color: lightblue;
      transition: opacity 0.8s ease-out, transform 0.8s ease-out;
      .profileWrap {
        display: flex;
        gap: 10px;
        width: 100%;
        .leftContent {
          width: 50%;
          border: 1px solid black;
          .profile {
            display: flex;
            width: 100%;
            height: 100%;
            img {
              width: 50px;
              height: 50px;
              border-radius: 50%;
            }
          }
        }
        .rightContent {
          width: 50%;
          border: 1px solid black;
        }
      }
    }
  }
}

@keyframes arrowBounce {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(10px);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.scrollItem {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: opacity 0.5s ease-in-out;
}

.scrollItem svg {
  width: 40px;
  height: 40px;
  fill: white;
  animation: arrowBounce 1.5s infinite ease-in-out;
}

/* 처음에 보이게 설정 */
.scrollItem {
  .show {
    opacity: 1;
    visibility: visible;
  }
}

/* 스크롤 시 부드럽게 사라지는 효과 */
.scrollItem {
  .hide {
    opacity: 0;
    visibility: hidden;
  }
}
